/* You can add global styles to this file, and also import other style files */
@import 'primeicons/primeicons.css';
body {
  background-color: #212f43;
  margin:0px;
}

button {
  cursor: pointer;
}

.w-60rem {
  width: 60rem;
}
